*{
    padding: 0;
    margin: 0;
}

.container-total{
    height: 100vh;
    display: grid;
    grid-template-areas:    "primary-row secundary-row";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    overflow: hidden;
    width: 100%;
}

.primary-row{
    display: grid;
    height: 100%;
    grid-area: primary-row;
    grid-template-areas:    "photo"
                            "information";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr ;
    align-content: center;
    align-items: center;
    background-color: #ffffff;
    background: scroll;
    border-right: #000000 solid 2px;
}

.photo-name{
    justify-content: center;
    text-align: center;
    grid-area: photo;
}

.photo{
    border: 8px solid #000000;
    border-radius: 200px;
    width: 200px;
    transition: transform .4s;
}

.photo:hover{
    transform: scale(1.2);
}

.user-name{
    padding:10px;
    grid-area: photo;
    transition: transform .4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-name:hover{
    transform: scale(1.2);
}

.information{
    height: 100%;
    grid-area: information;
    display: grid;
    grid-template-areas:    "info1"
                            "info2"
                            "info3"
                            "info4" 
                            "info5" 
                            "info6";
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    text-align: center;
}

.infoormation-btn1, .infoormation-btn2, .infoormation-btn3, .infoormation-btn4, .infoormation-btn5, .infoormation-btn6{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    border: 1px #000000 solid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.ov-btn-slide-left {
    background-color: #f5f5f5; /* color de fondo */
    color: #000000; /* color de fuente */
     /* tamaño y color de borde */
    position: relative;
    z-index: 1;
  }

  .ov-btn-slide-left:hover {
    color: #f7f7f7; /* color de fuente hover */
  }
  .ov-btn-slide-left::after {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    z-index: -1;
    content: "";
    background-color: #000000; /* color de fondo hover */
    position: absolute;
    /* z-index: -1; */
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

.infoormation-btn1{
    grid-area: info1;
    
}
.infoormation-btn2{
    grid-area: info2;
    
}

.infoormation-btn3{
    grid-area: info3;
    
}

.infoormation-btn4{
    grid-area: info4;
    
}

.infoormation-btn5{
    grid-area: info5;
    
}

.infoormation-btn6{
    grid-area: info6;
    
}


/* @keyframes slide {
    from {
      margin-left:50%;
      width: 50%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  .secundary-row{
    grid-area: secundary-row;
    overflow-y: auto;
    background-color: #888888;

}

.container-info{
    display: none;
    object-fit: cover;
} 

.container{
    width: 60%!important;
}

.tittle{
    text-align: center;
}
/* .secundary-row{
    width: 100%;
    display:grid;
    grid-template-areas:    "Container";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: secundary-row;
    overflow-y: auto;
    background-color: #888888;
    opacity:80%;
}

.container-info{
    grid-area: Container;
    display: none;
    object-fit: cover;
    margin:10px;
    background-color: #000000;
} 

.container-text{
    display: grid;
    grid-template-areas:    "tittle tittle"
                            "texto texto" 
                            "info-dates1 info-text1"
                            "info-dates2 info-text2"
                            "info-dates3 info-text3"
                            "info-dates4 info-text4"
                            "info-dates5 info-text5"
                            "info-dates6 info-text6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100%;
    height:100% ;
    align-items: center;
    align-content: center;
}

.tittle{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #ffffff solid 2px;
    grid-area: tittle;
    color:#f5f5f5;
    width: 80%;
    justify-self: center;
}

.texto{
    display:block;
    overflow-y: auto;
    color:#f5f5f5;
    grid-area: texto;
    padding:10px;
}

.info-dates1{
    grid-area: info-dates1;
    justify-self: center;
    width: 60%;
    font-size: 20px;
    color:#f5f5f5;
}

.info-text1{
    align-content: left;
    font-size: 20px;
    color: #f5f5f5;
    justify-items: left;
    grid-area: info-text1;
}

.info-dates2{
    grid-area: info-dates2;
    justify-self: center;
    font-size: 20px;
    color:#f5f5f5;
    width: 60%;
}

.info-text2{
    align-content: left;
    font-size: 20px;
    color: #f5f5f5;
    justify-items: left;
    grid-area: info-text2;
}

.info-dates3{
    grid-area: info-dates3;
    justify-self: center;
    font-size: 20px;
    color:#f5f5f5;
    width: 60%;
}

.info-text3{
    align-content: left;
    font-size: 20px;
    color: #f5f5f5;
    justify-items: left;
    grid-area: info-text3;
} */